




  
  <nz-layout class="layout">
    <nz-header>
      <ul nz-menu nzMode="horizontal" nzTheme="dark">
      <li  [routerLink]="'hoofdscherm'" nz-menu-item>
        <i nz-icon nzType="home"></i>
        Dima Gbeniet
      </li>
      <li  [routerLink]="'deWoning'" nz-menu-item>
        <i nz-icon nzType="picture"></i>
        De Woning
      </li>
      <li  [routerLink]="'info'" nz-menu-item>
        <i nz-icon nzType="info-circle"></i>
        Info
      </li>
      <li  [routerLink]="'ligging'" nz-menu-item>
        <i nz-icon nzType="search"></i>
        Ligging
      </li>
      <li  [routerLink]="'contact'" nz-menu-item>
        <i nz-icon nzType="contacts"></i>
        Contact
      </li>
      <li  [routerLink]="'recensies'" nz-menu-item>
        <i nz-icon nzType="safety-certificate"></i>
        Recensies
      </li>
    </ul>
    </nz-header>
    <nz-content>
      <ng-content></ng-content>
    </nz-content>
  </nz-layout>
  <footer class="footer-distributed">
  <div class="footer-left">
    <h3>Vakantiewoning<span> Potvis</span></h3>

    <p class="footer-links">
      <a href="index.html" class="link-1">Potvis</a>

      <a class="actief" href="de_woning.html">De Woning</a>

      <a href="info.html">Info</a>

      <a href="ligging.html">Ligging</a>

      <a href="contact.html">Contact</a>

    </p>

    <p class="footer-company-name">Potvis &copy; 2021</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <a href="https://www.google.be/maps/place/Vakantiewoning+POTVIS/@51.1226119,2.6726663,17z/data=!4m12!1m6!3m5!1s0x47dcbd1e790fbba7:0xc0d8760c95cd780d!2sVakantiewoning+POTVIS!8m2!3d51.1226086!4d2.674855!3m4!1s0x47dcbd1e790fbba7:0xc0d8760c95cd780d!8m2!3d51.1226086!4d2.674855?hl=nl&authuser=0"
        target="_blank">
        <p style="color: #30a1ec;">Witte Burg 20<br>8670 Oostduinkerke</p>
      </a>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p><a class="link" href="tel:0478/80 80 98">0478/80 80 98</a></p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:els@potvis.be" class="link">els@potvis.be</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      Heeft u nog vragen of opmerkingen, neem dan zeker contact met ons op.
    </p>
  </div>
</footer>