<ul nz-menu nzMode="horizontal">
    <li  [routerLink]="'hoofdscherm/hoofdscherm'" nz-menu-item>
      <i nz-icon nzType="home"></i>
      Dima Gbeniet
    </li>
    <li  [routerLink]="'deWoning/deWoning'" nz-menu-item>
      <i nz-icon nzType="picture"></i>
      De Woning
    </li>
    <li  [routerLink]="'info/info'" nz-menu-item>
      <i nz-icon nzType="info-circle"></i>
      Info
    </li>
    <li  [routerLink]="'ligging/ligging'" nz-menu-item>
      <i nz-icon nzType="search"></i>
      Ligging
    </li>
    <li  [routerLink]="'contact/contact'" nz-menu-item>
      <i nz-icon nzType="contacts"></i>
      Contact
    </li>
    <li  [routerLink]="'recensies/recensies'" nz-menu-item>
      <i nz-icon nzType="safety-certificate"></i>
      Recensies
    </li>
  </ul>
  <ng-content></ng-content>