<h1 class="center">Info</h1>
<div class="info">
    <div class="infoDelen" style="list-style-type: square;">
        <div class="infoDeel1">
            <h3 class="opsommingTitel">Algemeen</h3>
            <li class="opsomming">8 personen</li>
            <li class="opsomming">Aankomst vanaf 16u00</li>
            <li class="opsomming">Vertrekken uiterlijk 10u00</li>
            <li class="opsomming">Prijs (minimum 3 nachten):</li>
            <ul style="margin-block-start: 0.2em; list-style-type: circle;">
                <li>Maandag tem donderdag: &euro; 220 / nacht</li>
                <li>Vrijdag tem zondag: &euro; 250 / nacht</li>
                <li>Schoolvakanties: &euro; 250 / nacht</li>
            </ul>
        </div>
        <div class="infoDeel2">
            <h3 class="opsommingTitel">Inbegrepen in de huurprijs</h3>
            <li class="opsomming">Bedlinnen</li>
            <li class="opsomming">Badlinnen</li>
            <li class="opsomming">Keukenlinnen</li>
            <li class="opsomming">Wifi</li>
            <li class="opsomming">Eindschoonmaak</li>
        </div>
        <div class="infoDeel3">
            <h3 class="opsommingTitel">Bijkomende kosten</h3>
            <li class="opsomming">Elektriciteit: &euro; 0,35 / kWh</li>
            <li class="opsomming">Gas / stookolie: &euro; 0,85 / kWh</li>
            <li class="opsomming">Water: &euro; 5,00 / m&sup3;</li>
        </div>
    </div>

    <br />
    <li class="opsommingTitel fontGroter110" style="margin-right: 10%;">
        De reservering is definitief bij het ontvangen van het voorschot
        (= de helft van het tarief voor de huurperiode). Tien dagen voor
        aankomst dient de andere helft + de waarborg overgeschreven te
        zijn. De waarborg bedraagt &euro; 300 en wordt binnen de 2 weken na het
        einde van het verblijf terugbetaald.
    </li>
</div>