<h1 class="center">Info</h1>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row center" [nzSpan]="8">
        <div class="inner-box">
            <h3 class="opsommingTitel">Algemeen</h3>
            <li class="opsomming">8 personen</li>
            <li class="opsomming">Aankomst vanaf 16u00</li>
            <li class="opsomming">Vertrekken uiterlijk 10u00</li>
            <li class="opsomming">Prijs (minimum 3 nachten): &euro; 200 / nacht</li>
        </div>
    </div>
    <div nz-col class="gutter-row center" [nzSpan]="8">
        <div class="inner-box">
            <h3 class="opsommingTitel">Inbegrepen in de huurprijs</h3>
            <li class="opsomming">Bedlinnen</li>
            <li class="opsomming">Badlinnen</li>
            <li class="opsomming">Keukenlinnen</li>
            <li class="opsomming">Wifi</li>
            <li class="opsomming">Eindschoonmaak</li>
        </div>
    </div>
    <div nz-col class="gutter-row center" [nzSpan]="8">
        <div class="inner-box">
            <h3 class="opsommingTitel">Bijkomende kosten</h3>
            <li class="opsomming">Elektriciteit: &euro; 0,35 / kWh</li>
            <li class="opsomming">Gas / stookolie: &euro; 0,85 / kWh</li>
            <li class="opsomming">Water: &euro; 5,00 / m&sup3;</li>
        </div>
    </div>
</div>

<div class="centerDiv">
<p class="center">
    De reservering is definitief bij het ontvangen van het voorschot
    (= de helft van het tarief voor de huurperiode). Tien dagen voor
    aankomst dient de andere helft + de waarborg overgeschreven te
    zijn. De waarborg bedraagt &euro; 300 en wordt binnen de 2 weken na het
    einde van het verblijf terugbetaald.</p>
</div>