/* You can add global styles to this file, and also import other style files */

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .centerDiv {
    display: table;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  
  .link {
    color: #7395AE;
    text-decoration: none;
  }

*, h1, h2, h3, h4{
    font-family: Helvetica, sans-serif;
    color: white;
  }
  body, .ant-layout{
    background: #938e93;
    color: white;
  }
