/* You can add global styles to this file, and also import other style files */
.ant-menu-item-selected{
  background-color: #557a95!important;
}
.ant-divider-inner-text{
  font-size: 150%;
}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .centerDiv {
    display: table;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  
  .link {
    color: #557a95;
    text-decoration: none;
    font-size: 110%;
  }

  h1{
    margin-top: 30px;
  }
 h1, h2, h3, h4, span{
    font-family: Helvetica, sans-serif;
    color: #2b6767;
  }
  body, .ant-layout{
    background: #d1d1cf;
    color: #2b6767;
  }
  h1{
    font-size: 250%;
  }
  h2{
    font-size: 220%;
  }
  h3{
    font-size: 200%;
  }

  nz-layout li, nz-layout a, nz-layout p{
    font-size: 130%;
    font-family: Helvetica, sans-serif;
  }